In [230]:
import pandas as pd

In [231]:
df_sample = pd.read_csv('deidentified_data_tables/samples/tblASVsamples.csv')
df_sample['PatientID'] = df_sample['PatientID'].astype('string')
print(len(set(df_sample.SampleID)), len(set(df_sample.PatientID)))
df_sample.head()

12546 1870

,SampleID,PatientID,Timepoint,Consistency,Accession,DayRelativeToNearestHCT
0,1000A,1000,0,formed,SRR10449206,-9.0
1,1000B,1000,5,liquid,SRR10449205,-4.0
2,1000C,1000,15,liquid,SRR10449203,6.0
3,1000D,1000,18,semi-formed,SRR10449202,9.0
4,1000E,1000,22,formed,SRR10449201,13.0

In [232]:
df_count = pd.read_csv('deidentified_data_tables/counts/tblASVcounts_human_filter.csv')
print(len(set(df_count.SampleID)))
df_count.head()

12546

  SampleID        ASV  Count
0    1000A   ASV_1216     14
1    1000A  ASV_12580    150
2    1000A  ASV_12691    260
3    1000A    ASV_135    434
4    1000A    ASV_147     79

In [233]:
df_qpcr = pd.read_csv('deidentified_data_tables/counts/tblqpcr.csv')
print(len(set(df_qpcr.SampleID)))
df_qpcr.head()

3342

  SampleID       qPCR16S
0    1015A  5.379385e+07
1    1015D  3.877487e+03
2    1015G  5.280994e+06
3    1015H  7.332446e+05
4    1016A  5.752710e+06

In [246]:
df_bc = pd.read_csv('deidentified_data_tables/meta_data/tblbc.csv')
df_bc['PatientID'] = df_bc['PatientID'].astype('string')
print(len(set(df_bc.PatientID)))
df_bc.head()

/opt/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1278

  PatientID  Timepoint BloodCellType  Value      Unit  DayRelativeToNearestHCT
0      1000       -427     Basophils    0.0  K_per_uL                     -436
1      1000       -427   Eosinophils    0.0  K_per_uL                     -436
2      1000       -427   Lymphocytes    1.5  K_per_uL                     -436
3      1000       -427     Monocytes    0.3  K_per_uL                     -436
4      1000       -427   Neutrophils    1.9  K_per_uL                     -436

In [261]:
df_bc[(df_bc.PatientID == '1511') & (df_bc.BloodCellType=='Neutrophils') & (df_bc.DayRelativeToNearestHCT>=-5) & (df_bc.DayRelativeToNearestHCT<=21)].sort_values(by='DayRelativeToNearestHCT')

,PatientID,Timepoint,BloodCellType,Value,Unit,DayRelativeToNearestHCT
350312,1511,-1,Neutrophils,0.9,K_per_uL,-5
350318,1511,0,Neutrophils,1.2,K_per_uL,-4
350328,1511,1,Neutrophils,0.7,K_per_uL,-3
350338,1511,2,Neutrophils,0.0,K_per_uL,-2
350348,1511,3,Neutrophils,0.0,K_per_uL,-1
350360,1511,6,Neutrophils,0.0,K_per_uL,2
350382,1511,19,Neutrophils,0.0,K_per_uL,15
350392,1511,20,Neutrophils,0.0,K_per_uL,16
350402,1511,21,Neutrophils,0.0,K_per_uL,17
350412,1511,22,Neutrophils,0.5,K_per_uL,18
350418,1511,23,Neutrophils,1.0,K_per_uL,19
350424,1511,24,Neutrophils,2.4,K_per_uL,20
350430,1511,25,Neutrophils,3.1,K_per_uL,21

In [254]:
# check no repeated values
df_bc[df_bc.duplicated(subset=['PatientID','Timepoint','BloodCellType'], keep=False)]

Empty DataFrame
Columns: [PatientID, Timepoint, BloodCellType, Value, Unit, DayRelativeToNearestHCT]
Index: []

In [249]:
df_temp = pd.read_csv('deidentified_data_tables/meta_data/tbltemperature.csv')
df_temp['PatientID'] = df_temp['PatientID'].astype('string')
print(len(set(df_temp.PatientID)))
df_temp.head()

/opt/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1249

  PatientID  Timepoint  MaxTemperature  DayRelativeToNearestHCT
0      1000       -462            98.4                   -471.0
1      1000       -427            98.4                   -436.0
2      1000       -399            98.0                   -408.0
3      1000       -371            98.0                   -380.0
4      1000       -343            98.0                   -352.0

In [236]:
df_drug = pd.read_csv('deidentified_data_tables/meta_data/tbldrug.csv')
df_drug['PatientID'] = df_drug['PatientID'].astype('string')
print(len(set(df_drug.PatientID)))
df_drug.head()

/opt/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1278

,PatientID,StartTimepoint,StopTimepoint,Factor,Category,AntiInfective,Route,StartDayRelativeToNearestHCT,StopDayRelativeToNearestHCT
0,1000,-314,-314,bortezomib,proteasome inhibitors,False,injection,-323,-323
1,1000,-310,-310,bortezomib,proteasome inhibitors,False,injection,-319,-319
2,1000,-307,-307,bortezomib,proteasome inhibitors,False,injection,-316,-316
3,1000,-303,-303,bortezomib,proteasome inhibitors,False,injection,-312,-312
4,1000,-293,-293,bortezomib,proteasome inhibitors,False,injection,-302,-302

In [237]:
df_hct = pd.read_csv('deidentified_data_tables/meta_data/tblhctmeta.csv')
df_hct['PatientID'] = df_hct['PatientID'].astype('string')
print(len(set(df_hct.PatientID)))
df_hct.head()

1278

,PatientID,TimepointOfTransplant,HCTSource,Disease,wbcPatientId,autoFmtPatientId,nejmPatientId,EngraftmentDayRelativeToNearestHCT
0,FMT.0161,30,TCD,Multiple Myeloma,000f9b9617d476abf1f143,NaN,1,10.0
1,667,8,PBSC_unmodified,Leukemia,001f938eeec58c18a4604a,491,1,12.0
2,1277,5,PBSC_unmodified,Leukemia,0079d6c0a49b8b6c3daf83,748,1,11.0
3,464,8,BM_unmodified,Leukemia,00a7221374f597b954d09f,342,1,19.0
4,420,6,cord,Non-Hodgkin's Lymphoma,00d7a5d77e1a5f7a9d3f3c,218,1,13.0

In [255]:
df_hct[df_hct.duplicated(subset=['PatientID'], keep=False)]

,PatientID,TimepointOfTransplant,HCTSource,Disease,wbcPatientId,autoFmtPatientId,nejmPatientId,EngraftmentDayRelativeToNearestHCT
15,823,-1388,TCD,Leukemia,02194f18fe78fd8ce6b9ed,214,0,10.0
16,823,-1,TCD,Leukemia,02194f18fe78fd8ce6b9ed,214,0,10.0
21,625,7,TCD,Leukemia,02872b52ea6a685694f92a,NaN,1,10.0
22,625,756,PBSC_unmodified,Leukemia,02872b52ea6a685694f92a,NaN,1,10.0
23,520,5,TCD,Myelodysplastic Syndromes,02a1205fe4c6be1ae0ebae,423,1,10.0
...,...,...,...,...,...,...,...,...
1294,134,379,PBSC_unmodified,Leukemia,f8f43d9f6acb3109d99842,205,1,11.0
1299,FMT.0158,23,TCD,Leukemia,f9d0d0ce191445b9763199,776,1,10.0
1300,FMT.0158,178,PBSC_unmodified,Leukemia,f9d0d0ce191445b9763199,776,1,10.0
1303,840,9,TCD,Leukemia,fa58f4e9583d00c161428a,NaN,1,11.0
1304,840,997,PBSC_unmodified,Leukemia,fa58f4e9583d00c161428a,NaN,1,11.0

In [238]:
df_inf = pd.read_csv('deidentified_data_tables/meta_data/tblInfectionsCidPapers.csv')
df_inf['PatientID'] = df_inf['PatientID'].astype('string')
print(len(set(df_inf.PatientID)))
df_inf.head()

426

,PatientID,Timepoint,InfectiousAgent,DayRelativeToNearestHCT
0,1000,213,Enterococcus_Faecium,204.0
1,1003,1046,Enterococcus_Faecium_Vancomycin_Resistant,1049.0
2,1010,-58,Escherichia,-61.0
3,1015,19,Enterococcus_Faecium_Vancomycin_Resistant,16.0
4,1015,20,Enterococcus_Faecium_Vancomycin_Resistant,17.0

In [239]:
df_vanA = pd.read_csv('deidentified_data_tables/meta_data/tblvanA.csv')
print(len(set(df_vanA.SampleID)))
df_vanA.head()

7547

  SampleID  VanA
0    1015P     0
1    1015Q     0
2    1015T     0
3    1015U     1
4    1015V     1

In [240]:
df_tax = pd.read_csv('deidentified_data_tables/taxonomy/tblASVtaxonomy_silva_v4v5_filter.csv')
df_tax.head()

,ASV,Sequence,Kingdom,Phylum,Class,Order,Family,Genus,ConfidenceKingdom,ConfidencePhylum,ConfidenceClass,ConfidenceOrder,ConfidenceFamily,ConfidenceGenus,HexColor,ColorOrder
0,ASV_1,AGCGCAGGCGGTTGCTTAGGTCTGATGTGAAAGCCTTCGGCTTAAC...,Bacteria,Firmicutes,Bacilli,Lactobacillales,Lactobacillaceae,Lactobacillus,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,#1635A4,163
1,ASV_10,AGCGTAGACGGAAGAGCAAGTCTGATGTGAAAGGCTGGGGCTTAAC...,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,Blautia,100.000000,100.000000,100.000000,100.000000,100.000000,95.798963,#AD998C,7
2,ASV_100,AGCGTAGATGGATGTTTAAGTCAGTTGTGAAAGTTTGCGGCTCAAC...,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,100.000000,98.803795,98.803795,98.803795,98.803795,98.803795,#16DDD3,44
3,ASV_1000,TGCGTAGGTGGTTTCTTAAGTCAGAGGTGAAAGGCTACGGCTCAAC...,Bacteria,Firmicutes,Clostridia,Clostridiales,Peptostreptococcaceae,Romboutsia,94.028092,94.028092,94.028092,94.028092,94.028092,78.184492,#BEA89A,21
4,ASV_10000,AGCGTAGACGGTGTGGCAAGTCTGATGTGAAAGGCATGGGCTCAAC...,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,<not present>,98.262969,98.262969,97.774085,97.774085,97.774085,97.774085,#BEA89A,21

# All samples have accession number

In [229]:
df_sample = df_sample.dropna(subset=['Accession'], axis=0)
df_sample

,SampleID,PatientID,Timepoint,Consistency,Accession,DayRelativeToNearestHCT
0,1000A,1000,0,formed,SRR10449206,-9.0
1,1000B,1000,5,liquid,SRR10449205,-4.0
2,1000C,1000,15,liquid,SRR10449203,6.0
3,1000D,1000,18,semi-formed,SRR10449202,9.0
4,1000E,1000,22,formed,SRR10449201,13.0
...,...,...,...,...,...,...
12541,FMT.0251G,FMT.0251,8,semi-formed,SRR9270380,7.0
12542,FMT.0251H,FMT.0251,7,semi-formed,SRR11396690,6.0
12543,FMT.0251I,FMT.0251,12,semi-formed,SRR9270379,11.0
12544,FMT.0251J,FMT.0251,13,semi-formed,SRR9270382,12.0
12545,FMT.0251L,FMT.0251,15,semi-formed,SRR9270381,14.0

# no duplicate samples on the same day (time point)

In [118]:
df_ = df_sample[df_sample.DayRelativeToNearestHCT.notna()]
df_[df_.duplicated(subset=['PatientID','Timepoint'], keep=False)]

Empty DataFrame
Columns: [SampleID, PatientID, Timepoint, Consistency, Accession, DayRelativeToNearestHCT]
Index: []

# one-to-one corresponding between sample and count

In [119]:
samples_without_count = set(df_sample.SampleID)-set(df_count.SampleID)
count_without_samples = set(df_count.SampleID)-set(df_sample.SampleID)
print(samples_without_count)
print(count_without_samples)

set()
set()

In [73]:
intersects = set(df_sample.SampleID).intersection(set(df_count.SampleID))
df_sample = df_sample[df_sample.SampleID.isin(intersects)]
df_count = df_count[df_count.SampleID.isin(intersects)]

In [74]:
#df_sample.to_csv('deidentified_data_tables/samples/tblASVsamples.csv',index=False)
#df_count.to_csv('deidentified_data_tables/counts/tblASVcounts_human_filter.csv',index=False)

# Only include qPCR data that have sample information

In [120]:
qpcr_without_samples = set(df_qpcr.SampleID)-set(df_sample.SampleID)
print(qpcr_without_samples)

set()

# Only include blood cell data that have patient information

In [126]:
bc_without_patients = set(df_bc.PatientID)-set(df_sample.PatientID)
print(bc_without_patients)

set()

In [130]:
#df_bc = df_bc[~df_bc.PatientID.isin(bc_without_patients)]
#df_bc.to_csv('deidentified_data_tables/meta_data/tblbc.csv',index=False)

# Only include temperature data that have patient information

In [143]:
temp_without_patients = set(df_temp.PatientID)-set(df_sample.PatientID)
print(temp_without_patients)

set()

In [141]:
df_temp = df_temp[~df_temp.PatientID.isin(temp_without_patients)]
#df_temp.to_csv('deidentified_data_tables/meta_data/tbltemperature.csv',index=False)

# Only include drug data that have patient information

In [145]:
drug_without_patients = set(df_drug.PatientID)-set(df_sample.PatientID)
print(drug_without_patients)

{'874'}

In [146]:
df_drug = df_drug[~df_drug.PatientID.isin(drug_without_patients)]
df_drug.to_csv('deidentified_data_tables/meta_data/tbldrug.csv',index=False)

# Only include hct meta data that have patient information

In [155]:
hct_without_patients = set(df_hct.PatientID)-set(df_sample.PatientID)
print(hct_without_patients)

set()

In [270]:
# these patients do not have bone marrow transplant day
patient_without_hctmeta = set(df_sample.PatientID)-set(df_hct.PatientID)
print(len(patient_without_hctmeta))

592

In [152]:
df_hct = df_hct[~df_hct.PatientID.isin(hct_without_patients)]
#df_hct.to_csv('deidentified_data_tables/meta_data/tblhctmeta.csv',index=False)

# Only include infection data that have patient information

In [163]:
inf_without_patients = set(df_inf.PatientID)-set(df_sample.PatientID)
print(inf_without_patients)

set()

In [161]:
df_inf = df_inf[~df_inf.PatientID.isin(inf_without_patients)]
df_inf.to_csv('deidentified_data_tables/meta_data/tblInfectionsCidPapers.csv',index=False)

# Only include vanA data that have patient information

In [172]:
vanA_without_samples = set(df_vanA.SampleID)-set(df_sample.SampleID)
print(vanA_without_samples)

set()

In [170]:
df_vanA = df_vanA[~df_vanA.SampleID.isin(vanA_without_samples)]
df_vanA.to_csv('deidentified_data_tables/meta_data/tblVanA.csv',index=False)

# Only include taxonomy items that are also included in count table

In [241]:
asv_not_in_count = set(df_tax.ASV)-set(df_count.ASV)
asv_not_in_tax = set(df_count.ASV)-set(df_tax.ASV)

In [242]:
asv_not_in_count

set()

In [243]:
asv_not_in_tax

set()

In [244]:
len(set(df_tax.ASV))

17865

In [245]:
len(set(set(df_count.ASV)))

17865